<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>[[${pageTitle}]]</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
  <!-- -->
  <div th:replace="static/navbar :: navbar"></div>
  <!-- -->
  <div class="container">
    <br><br><br>
    <div class="card">
      <div class="float-right">
        <a class="btn btn-success" type="button" th:href="@{'/borrow/index'}" >List</a>
      </div>
      <div class="card-header">[[${pageTitle}]]</div>
      <div class="card-body">
        <table class="table">
          <thead>
          <tr>
            <th>ID</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Effective Date</th>
            <th>Duration</th>
            <th>Member</th>
            <th>Resource</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td th:text="${borrow.id}"></td>
            <td th:text="${borrow.startDate}"></td>
            <td th:text="${borrow.endDate}"></td>
            <td th:text="${borrow.effectiveDate}"></td>
            <td th:text="${borrow.duration}"></td>
            <td th:text="${borrow.member}"></td>
            <td th:text="${borrow.copy.resource}"></td>
            <td>
              <a class="btn btn-warning" th:href="@{'/borrow/edit/'+${borrow.id}}" >Edit</a>
              <a class="btn btn-danger"  th:href="@{'/borrow/delete/'+${borrow.id}}" >Delete</a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
</html>

